python-dotenv
langchain
openai
pinecone-client
unstructured
tabulate
pdf2image
streamlit
tiktoken
streamlit
langchain
openai
python-dotenv
pinecone-client
streamlit-chat
chromadb
tiktoken
sentence_transformers
streamlit_chat
PyPDF2
faiss-cpu==1.7.4
